*.pyc
cover
.coverage
.tox
Glancing.egg-info

test/data/*
test/images/*

test/stratuslab/download/*.xml
test/stratuslab/download/*.json

test/stratuslab/JcqGhHxmTRAEpHMmRF-xhSTM3TO.xml
test/stratuslab/KqU_1EZFVGCDEhX9Kos9ckOaNjB.xml
test/stratuslab/PIDt94ySjKEHKKvWrYijsZtclxU.xml
