*.pyc
cover
.coverage
.tox
Glancing.egg-info

test/data/*
test/images/*

test/stratuslab/JcqGhHxmTRAEpHMmRF-xhSTM3TO.xml
test/stratuslab/PIDt94ySjKEHKKvWrYijsZtclxU.xml
test/stratuslab/IzEOzeHK8-zpgSyAkhNiZujL4nZ.xml

test/stratuslab/JcqGhHxmTRAEpHMmRF-xhSTM3TO.json
test/stratuslab/PIDt94ySjKEHKKvWrYijsZtclxU.json
test/stratuslab/IzEOzeHK8-zpgSyAkhNiZujL4nZ.json

